body {
    background-color: #f0ffff;
    color: #7db8ff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h3, h2, h1 {
    color: #FFA3A3;
}

a {
    text-decoration: none;
    color: #7ad6d6;
}

a:hover {

    color: #FF96D5;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li,
label {
    color: black;
}