{% extends "base.html.twig" %}

{% block title %}
	{{ title }}
{% endblock %}


{% block body %}
	<h2>
		{{title}}
	</h2>
	

	<h3>Menú</h3>
	<ul>
		<li>
			<a href="/libros">Libros</a>
		</li>
		<li><a href="/contacto">Contacto</a></li>
	</ul>
{% endblock %}
